 body{
    font: 20px Serif; 
 }
 
 .navbar{background-color:#F0E68C;

}

.quem-somos{background-color:#EEE8AA;

}

.margin{padding-top: 50px;
        padding-bottom: 50px;
        padding-top: 10px;

}

.parceiros{background-color: white;


}

.bg-footer{background-color: #FFFF8D;

}